
.box_input_pass {
    position: relative;
  }
  
  .btn_click_hide {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .footer_label{
    color: grey;
  }