<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-lg-4 p-0">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full">
                      <img src="../../../assets/images/logo-full.png" height="75px" width="75px"
                        style="border-radius: 10px;" alt="logo-full">
                    </a>
                  </div>

                  <h4 class="font-20 mt-0">Welcome Back !</h4>
                  <p class="text-muted">Sign in to continue to Laor Tinh</p>
                </div>

                <div class="p-2 mt-2">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">person</mat-icon>
                      <input formControlName="email" class="form-control auth-control" id="email"
                        placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors">Username is required</div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group mb-4 box_input_pass">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"
                        class="form-control auth-control" id="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                      <button class="btn_click_hide" mat-icon-button type="button" (click)="togglePasswordVisibility()">
                        <mat-icon style="color: rgb(103, 102, 102);">{{ showPassword ? 'visibility_off' : 'visibility'
                          }}</mat-icon>
                      </button>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors">Password is required</div>
                      </div>
                    </div>

                    <!-- <div class="flex-sb-m w-full p-t-15 p-b-20">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input custom-checkbox" type="checkbox" formControlName="remember"
                            value=""> Remember me
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      <div>
                        <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
                      </div>
                    </div> -->

                    <div class="container-login100-form-btn mb-2">
                      <button [disabled]="!loginForm.valid || submitted" mat-flat-button color="primary"
                        class="login100-form-btn" type="submit">
                        <span *ngIf="!submitted">
                          Login
                        </span>
                        <div *ngIf="submitted" class="lds-dual-ring"></div>
                      </button>
                    </div>

                    <!-- <div *ngIf="errorStatus === 401" class="alert alert-danger" role="alert">
                      Invalid username or password!
                    </div> -->

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 p-0">

      <div class="auth-bg">
        <div class="auth-bg"
          style="object-fit: cover; filter: brightness(70%); background-image : url('../../../assets/images/logo_vshopkh.png')">
        </div>
      </div>
    </div>
  </div>