<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader custom-small-header">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2 class="title">{{"User" | translate}}</h2>
                                </li>
                                <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input (keyup)="onSearch()" placeholder="{{'search' | translate }}" type="text"
                                        [(ngModel)]="search_key" class="browser-default search-field"
                                        aria-label="Search box">
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-mini-fab matTooltip="{{'ADD' | translate}}" color="primary"
                                            (click)="openForm('add')">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-mini-fab matTooltip="REFRESH" color="primary" (click)="refresh()">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-body body overflow-auto">
                        <div class="responsive_table">
                            <table class="table sortable table-list">
                                <thead>
                                    <tr>
                                        <th width="30px" class="text-center">#</th>
                                        <th width="100px" class="text-center">{{'Profile' | translate}}</th>
                                        <th width="100px">{{'Name' | translate}}</th>
                                        <th width="100px">{{'Email' | translate}}</th>
                                        <th width="80px">{{'Gender' | translate}}</th>
                                        <th width="60px" class="text-center"> {{'Action' | translate}} </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!loadingGet">
                                    <tr *ngFor="let data of tableData;let i = index">
                                        <th width="10px" class="text-center" scope="row">
                                            {{ data.index }}
                                        </th>
                                        <td class="text-center">
                                            <div class="box_show_img">
                                                <img *ngIf="data.avatar != null" class="table-img" [src]="data.avatar">
                                            </div>
                                        </td>
                                        <td class="text-overflow">{{data.name}}</td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.gender}}</td>
                                        <td class="text-center">
                                            <button container="body" (click)="openForm('edit',data)"
                                                matTooltipPosition="above" 
                                                matTooltip="{{'Edit' | translate}}" mat-mini-fab color="primary"
                                                class="btn-tbl-edit table-btn">
                                                <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                                            </button>
                                            <button container="body" matTooltipPosition="above"
                                                matTooltip="{{'Delete' | translate}}" 
                                                (click)="askingDelete(data)" mat-mini-fab
                                                class="btn-tbl-delete table-btn">
                                                <mat-icon aria-label="Edit" class="col-white">delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="loadingGet">
                                <h2 class="text-center">
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </h2>
                            </div>
                            <div class="text-center mt-4" *ngIf="!loadingGet && tableData.length <= 0 ">
                                {{'No Data' | translate}}
                            </div>
                            <div class="pagination-container">
                                <mat-paginator class="pagination" showFirstLastButtons (page)="loadPage($event)"
                                    [length]="total_record" [pageSize]="page_size" [pageSizeOptions]="allPageSize">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>