<p>driver works!</p>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Driving License Expiration</th>
        <th>ID Card</th>
        <th>Kh Name</th>
        <th>Name</th>
        <th>Phone No</th>
        <th>Images</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let driver of drivers">
        <td>{{ driver.id }}</td>
        <td>{{ driver.driving_license_expiration }}</td>
        <td>{{ driver.id_card }}</td>
        <td>{{ driver.kh_name }}</td>
        <td>{{ driver.name }}</td>
        <td>{{ driver.phone_no }}</td>
        <td>
          <img class="Image" [src]="driver.photo" *ngIf="driver.photo" alt="Driver Image">
        </td>
        <td>
          <button >Edit</button>
          <button >Delete</button>
        </td>
      </tr> -->
    </tbody>
  </table>